.about-container {
  display: flex;
  margin-inline: 5em;
  align-items: center;
}
.text-container {
  font-family: "Chakra Petch", sans-serif;
  margin-left: 7em;
}

.text-container > h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

.about-texts {
  font-size: large;
  display: block;
}

@media (min-width: 1440px) {
  .about-texts {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .text-container {
    margin-left: auto;
  }
}
