li {
  border: 0.1em outset white;
  border-radius: 0.5em;
  list-style-type: none;
  display: block;
  padding: 0.85rem 1.5rem;
  background: #0c143b;
}

li:hover {
  background-color: white;
}

li > a {
  text-decoration: none;
  font-size: large;
  color: white;
}

li:hover > a {
  text-decoration: none;
  color: rgb(0, 3, 18);
}

.list-title {
  display: flex;
  justify-content: space-between;
  margin-left: 2em;
}

.project {
  margin-inline: 15em;

}

@media (min-width: 1440px) {
  li {
    padding: 1.4em 2em;
  }
  li > a {
    font-size: 1.7em;
  }

}
